#start-convo {
	display: none;
}

#messagelog {
	display: none;
	width: 40em;
	height: 25em;
	overflow: auto;
	margin-left: 10px;
	margin-right: auto;
	margin-bottom: 15px;
	border: 2px solid;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	padding: 5px;
}

#sendmessage {
	display: none;
	width: 40em;
	height: 4em;
	margin-left: 10px;
	margin-right: auto;
}

p.sent-message {
	display: block;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

p.got-message {
	display: block;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	font-weight: bold;
}
